.home__wrapper {
  background-color: rgba(0, 0, 0, 0.9);
}
.home-socials__wrapper {
  display: grid;
  grid-template-columns: 60% 10% 10% 10% 10%;
}
.home__socials-item {
  padding: 14%;
  display: flex;
  justify-content: center;
}
.home__socials-item-01 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.home__socials-item-02 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.home__socials-item-03 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.home-socials__link {
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
.home-socials__link:hover {
  transform: scale(1.2);
}
.home-socials__image {
  width: 100%;
  display: block;
}
.home__hero {
  background-image: url(../../assets/us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
