.burger-menu {
  position: fixed;
  top: 60px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 2;
  display: block;
  cursor: pointer;
  border: 1px solid green;
}

.burger-menu:after {
  position: absolute;
  content: '';
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(180deg, #e2f96b, #9BE564, #fff266, #9BE564);
  transition: all .6s cubic-bezier(0.23, 0.52, 0.48, 0.76);
}

.burger-menu:hover:after {
  top: 0;
}