@import "components/_home-new.scss";

.home-wrap {
    width: 100%;
    min-height: 100%;
  }
.home-0 {
  height: 100vh;
  background: #31365c;
}
.home-1 {
  position: relative;
  height: 100vh;
  background: #061826;
  overflow: hidden;
  transition: all 0.3s ease;
}
// .backgr {
//   background-color: rgba(6,24,38,1);
//   background: @include filter-gradient(#061826, #d0feb3, horizontal);
//   background: @include background-image(linear-gradient(left, rgba(6,24,38,1) 0%, rgba(49,54,92,0.89) 22%, rgba(6,24,38,0.82) 48%, rgba(6,24,38,0.74) 92%, rgba(6,24,38,0.71) 94%, rgba(6,24,38,0.64) 99%, rgba(208,254,179,0.74) 100%));
// }