.audio-wrap {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 10px;
  z-index: 1;
}
.audio {
  width: 20px;
  outline: none;
}
.audio-description {
  font-size: 10px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #d9d9d9;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
@media (min-width: 1024px) {
  .audio-wrap {
    display: block;
  }
}
